/* ------------------------------ Sección Cabecera -------------------------------*/ 
.cabecera {
    background-color: #4d4646;
    width: 100%;          /*Ancho del header sea el ancho completo de la pantalla */
    display: flex;
    flex-direction: row;
    align-items: center; /*Elementos centrados verticalmente en el medio del elemento padre, cabecera*/
    justify-content: space-between; /*Elementos alineados con el mismo espaciado entre ellos*/
    padding: 1.3rem;   
    position: fixed; /*Cabecera fija cuando hacemos scroll*/
    top: 0;          /*Eje o coordenadas va a estar fijo*/
    z-index: 1000;   /* Aseguramos que quede por encima de otros elementos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.cabecera__log_titulo {
    display: flex;
    align-items:center;
    gap: 10px; 
}

.cabecera__logo {
    max-width: 20px; /* Fija el tamaño maximo p el logo. Ajuste para pantallas pequeñas */
    width: 20px;     /* Añade un tamaño fijo para evitar distorsión */
    height: auto;    /* Para mantener las proporciones del logo */
}

.cabecera__titulo {
    color: var(--color-de-fuente-uno);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;    /* El título tomará el espacio disponible */
}

.cabecera__contacto {
    font-size: 0.9rem;   
}

.navegacion {
    display: none;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    background-color: #4d4646;
    color: var(--color-de-fuente-uno);
    margin-top: 52px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.presentacion__foto {
   max-width: 30%;
   border-radius: 50%;
   background-color: #E9F2F7;
}
.presentacion__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.presentacion__titulo {
    line-height: 1.1;
    font-weight: bold;
    font-size: 1.7rem;
}

.presentacion__subtitulo,
.sobre-mi__texto {
    font-size: 1.3rem;
}
.redes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 1.15rem;
    font-weight: 800;
}

.redes__img{
    border-radius: .3em;
    border: 0;
    background-image: linear-gradient(150deg,
    #0b9eff,
    #8ae2f0);
    color: #FFFFFF;
    transition: .3s;
}    
.redes__img span {
    background-color: #4d4646;
    padding: 3px;
    border-radius: .3em;
    transition: .3s;
}

.redes__img:active {
    transform: scale(0.9);
}

/*-----------------main-------------------------------------------------------------*/
.container {
    margin: 0 auto;
}
/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    background-color: #E9F2F7;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sobre-mi__titulo {
    font-weight: bold ;
    font-size: 1.8rem;
}

.sobre-mi__firma {
    max-width: 30%;
}
/*------------------------------ Sección de Habilidades y Aficiones ----------------*/
.habilidades,
.aficiones {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.habilidades__titulo,
.aficiones__titulo,
.formacion__titulo,
.proyectos__titulo {
 width: 100%;
 text-align: center;
 line-height: 1.1;
 font-weight: bold;
 font-size: 1.7rem
}

.habilidades__lista,
.aficiones__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
}

.habilidades__elemento,
.aficiones__elemento {
    background-color: #FFFFFF;
    padding: 16px;
    width: 155px; /*48%;*/
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
    gap: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 

}

.habilidades__icono,
.aficiones__icono {
    max-width: 24px;
}

.habilidades__nombre,
.aficiones__nombre {
    font-size: 16px;
    font-weight: bold;
}

/*------------------------------ Sección de Formaciones --------------------------------*/
.formacion {
    background-color: #E9F2F6;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 

}

.formacion__lista,
.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formacion__contenedor--icono {
    height: 118px ;
    background-color: #FFFFFF;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formacion__icono {
   max-width: 30%;  
}

.formacion__nombre {
font-weight: bold;
font-size: 1.4rem;
}

.formacion__detalle {
font-weight: normal;
font-size: 14px;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 6px;
}

.proyectos__descripcion {
    font-size: 14px;
    font-weight: normal;
}

.proyectos__imagen{
    width: 90%;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
    background-color: #E9F2F6;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); 
}

.contacto__titulo {
    font-weight: bold;
    font-size: 1.7rem;
   }
.contacto__descripcion {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 16px;
}

.contacto__form__container {
    display: grid;
    gap: 2.2rem;
}

.contacto__formulario {
    width: 90%;
}

.contacto__form__group {
    position: relative;
    --color: #5757577e; 
}

.contacto__campo {
    width: 100%;
    color: #706c6c;
    font-size: 1.2rem;
    padding: .6em .3em; 
    padding-top: 1.5em;
    border: none;
    outline: none;
    border-bottom: 1px solid #a0a6ac;
    font-family: 'Raleway', sans-serif;
}

.contacto__campo:not(:placeholder-shown) {
    color: #4d4646;
}

.contacto__campo:focus + .contacto__campo--label,
.contacto__campo:not(:placeholder-shown) + .contacto__campo--label {
    transform: translateY(-2px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.contacto__campo--label {
    color: var(--color-de-fuente);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.contacto__boton {
    width: 40%; 
    background: #4d4646;  
    color: #FFFFFF;
    padding: .8em 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    border: none; 
    border-radius: .5em;
}

.contacto__campo--linea {
    position: absolute;
   /* bottom: 0;*/
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.contacto__campo:focus  ~ .contacto__campo--linea,
.contacto__campo:not(:placeholder-shown) ~ .contacto__campo--linea {
transform: scale(1);
}

.validation-message {
    color: crimson;
    visibility: hidden;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: start;
}

/* ------------------------------ Footer---------------------------------------------*/
.footer__portafolio {
    background-color: #4d4646;
    color: var(--color-de-fuente-uno);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
}

.cabecera__titulo,
.footer__portafolio--titulo,
.footer__portafolio--descripcion {
    background: linear-gradient(150deg, #a5e3ec, #b7eef1,#04cfee);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .3s;
}


@media (hover: hover) {

   .navegacion__elemento a:hover {
       border-bottom: 2px solid #04cfee;
       display: inline-block;
       transition: .3s ease;
    }

    .cabecera__contacto:hover {
      transition: .3s ease;
      transform: scale(0.9);
    }

    .redes__img:hover span {
        background: none;
    }
    
    .contacto__boton:hover{
        background-color: rgb(195, 201, 201);
        border: 1px solid rgba(109, 111, 114, 0.329);
        cursor: pointer;
        color: #4d4646;
        transition: .4s ease;
    }

}    

/* Tablets -------------------------------------------------------------------------- */
@media (min-width: 768px) {
  
    .cabecera__contacto {
        display: none;
    }

    .cabecera__logo {
        max-width: 20px;
    }

    .navegacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
        color: var(--color-de-fuente-uno);
    }

    .presentacion {
        padding: 32px;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .redes {
        justify-content:flex-start;
        gap: 32px;
        font-size: 1.4rem;
        font-weight: normal;
    }

    .redes img {
        width: 10px;
    }

    .presentacion__foto {
        width: 100%;
    }

    .sobre-mi {
        padding: 2.6rem;
    }

    .sobre-mi__firma {
        max-width: 20%;
    }

    .habilidades,
    .aficiones {
    padding: 32px;
    }

    .habilidades__elemento,
    .aficiones__elemento {
        width: 224px; 
        height: 120px; 
    }

    .formacion__lista {
     flex-direction: row;
     gap: 16px;   
    }

    .formacion__contenedor--icono {
        width: 224px;
    }
}

/* Pantallas grandes ------------------------------------------------------------------*/
@media (min-width: 1024px) {
    
   .portafolio__container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    } 

    .cabecera {
        padding: 32px 128px;
        margin-bottom: 32px;
    }

    .cabecera__nav__contacto {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .navegacion__lista {
        gap: 2rem;
    }

    .cabecera__contacto {
        display: block; /* Visible en pantallas a partir de 1024px */
        font-size: 1.2rem;
        font-weight: bold;
    }

    .presentacion {
        padding:   98px 128px 70px ;
    }

    .presentacion__contenedor {
        gap:24px;
    }

    .presentacion__titulo {
        font-size: 4.2rem; 
    }

    .presentacion__subtitulo {
        font-size: 2rem;
        font-weight:lighter;
    }

    .redes {
        font-size: 1.6rem;
    }

    .sobre-mi {
        padding: 64px 128px;
    }

    .sobre-mi__titulo,
    .habilidades__titulo,
    .aficiones__titulo,
    .formacion__titulo,
    .proyectos__titulo,
    .contacto__titulo{
        font-size: 32px;
    }

    .sobre-mi__texto, 
    .formacion__detalle,
    .proyectos__descripcion,
    .contacto__descripcion {
        font-size: 16px;
    }

    .sobre-mi__firma {
        max-width: 15%;
    }
    
    .hab__afic {
            display: flex;
            flex-direction: column;
            gap: 88px;
            padding: 0px 128px 88px;
    }

    .habilidades,
    .aficiones {
        padding:32px 0px 0px 0px; 

    }

    .habilidades__elemento,
    .aficiones__elemento {
        width: 160px; 
        height: 168px; 
    }

    .formacion {
        align-items: center;
        gap: 32px;
        padding: 82px;
    }

    .formacion__contenedor--icono {
        width: 334px;
        height: 286px;
    }

    .formacion__elemento {
        gap:10px;
    }

    .formacion__icono {
        min-width: auto;
    }

    .proyectos{
        padding: 64px 128px;
        gap:32px;
    }

    .contenedor__contacto {
        padding: 64px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .contacto__titulo--contenedor {
        width: 25%;
    }

    .contacto__formulario {
        width: 50%;
    }
}
